@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  @apply font-sans;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-heading font-bold;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  max-width: 80% !important;
  width: 80% !important;
}

.ce-block__content, .ce-toolbar__content { max-width: calc(75%) !important; } .cdx-block { max-width: 100% !important; }